:root {
    --spotifyGreen: #1DB954;
    --spotifyLightGreen: #1ED760;
    --spotifyGray: #191414;
}

.App {
    text-align: center;
    overflow-x: hidden;
    min-height: 100vh;
}

.App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    background-color: var(--spotifyGreen);
}

a {
    text-decoration: none;
    font-size: 1.25rem;
    color: black;
}

